


html,body{

  

  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eaffe6, #bcffb3);
  /*background-repeat: no-repeat;*/

}

#contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;

}

button{

  font-size: 18px;
  background-color: black;
  color: white;
  border-radius: 10px;
  
}

button:hover{

  cursor: pointer;
  font-size: 20px;
  transition: .1s;
  box-shadow: 10px 10px 20px black;
  
}


.mi-clase{

  margin-right: 10px;
  margin-bottom: 10px;

}

ul{

  text-decoration: none;

  
}


#borrar_tareas{

  margin-bottom: 25px;
}


input{

  font-size: 20px;
  border-radius: 20px;

}

#nota{

  margin-top: 10px;
}

.rojo{

  color: red;
}





  @media (min-height: 1600px) and (max-width: 1000px) {


  #contenedor {

    font-size: 40px;
  
  }

  
button{

  font-size: 36px;
}



input{

  font-size: 36px;

}

}
